<main class="container mt-5">
  <div class="mb-3">
    <h1>
      Customer List
    </h1>
  </div>
  <form id="search-customer-form" method="GET">
    <fieldset>
      <legend>Search</legend>
      <div class="form-group">
        <label for="search" class="sr-only">
          Search
        </label>
        <div class="input-group mb-3">
          <input
            id="search"
            name="search"
            type="search"
            class="form-control"
            placeholder="search..."
            value="{{search}}"
          />
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary">
              Search
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="registered" class="sr-only">
          Registered
        </label>
        <select
          id="registered"
          name="registered"
          class="custom-select w-auto"
        >
          {{> select-option-list registerOptionList}}
        </select>
        <label for="pageSize" class="sr-only">
          Page Size
        </label>
        <select
          id="pageSize"
          name="pageSize"
          class="custom-select w-auto"
        >
          {{> select-option-list pager.pageSizeOptions}}
        </select>
      </div>
    </fieldset>
  </form>
  {{> pager pager}}
  <div>
    {{> customer-list customers}}
  </div>
  {{> pager pager}}
</main>