<main class="container mt-5">
  <h1>
    Admin
  </h1>
  <div>
    {{#each users}}
      <div class="card mb-2">
        <div class="card-body">
          <div>
            <a href="/account/profile/{{id}}" class="card-title" style="font-size: 2em">
              {{~username~}}
            </a>
            {{#if is_admin}}
              <span class="badge badge-primary ml-2">
                Admin
              </span>
            {{/if}}
            {{#if is_moderator}}
              <span class="badge badge-primary ml-2">
                Moderator
              </span>
            {{/if}}
            {{#if is_email_verified}}
              <span class="badge badge-success ml-2">
                Verified
              </span>
            {{else}}
              <span class="badge badge-danger ml-2">
                Unverified
              </span>
            {{/if}}
          </div>
          <div class="text-monospace text-muted">
            {{email}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</main>