<main class="container mt-5">
  <h1>
    <span>{{user.username}}</span>
    {{#if user.is_admin}}
      <span class="badge badge-primary badge-small ml-3">Admin</span>
    {{/if}}
    {{#if user.is_moderator}}
      <span class="badge badge-primary badge-small ml-3">Moderator</span>
    {{/if}}
  </h1>
  <p class="text-monospace text-muted">
    {{user.email}}
  </p>
  <p>
    This is my profile.
  </p>
</main>